
<select onchange="updateStepTipTo(this, '<%=escape(step.name)%>');" id="step-tipto-<%=sid%>">
<option <%=(step.definition.tip.discardItem === '' ? 'selected':'')%>value=''>Select One</option>
<%
for (var it=0;it<workspace.items.length; it++){
if (workspace.items[it].platformData.type === 'BUCKET') {
	var name = workspace.items[it].name;
	%>
	<option <%=(name === step.definition.tip.discardItem ? 'selected':'')%> value="<%=escape(name)%>"><%=name%></option>

<%}}%>
</select>